
<div class="card">
								<div class="card-body bg-primary text-white text-center card-img-top" style="background-image: url(../../../assets/images/backgrounds/panel_bg.png); background-size: contain;">
									<div class="card-img-actions d-inline-block mb-3">
										<img class="img-fluid rounded-circle" src="https://themes.kopyov.com/limitless/demo/template/assets/images/demo/users/face6.jpg" width="170" height="170" alt="">
										<div class="card-img-actions-overlay card-img rounded-circle">
											<a href="#" class="btn btn-outline-white btn-icon rounded-pill">
												<i class="ph-plus"></i>
											</a>
											<a href="user_pages_profile.html" class="btn btn-outline-white btn-icon rounded-pill ms-2">
												<i class="ph-link"></i>
											</a>
										</div>
									</div>

									<h6 class="mb-0">Victoria Davidson</h6>
									<span class="opacity-75">Head of UX</span>

									<ul class="list-inline list-inline-condensed mt-3 mb-0">
										<li class="list-inline-item">
											<a href="#" class="btn btn-outline-white btn-icon rounded-pill">
												<i class="ph-github-logo"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a href="#" class="btn btn-outline-white btn-icon rounded-pill">
												<i class="ph-twitter-logo"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a href="#" class="btn btn-outline-white btn-icon rounded-pill">
												<i class="ph-gitlab-logo"></i>
											</a>
										</li>
									</ul>
								</div>

								<div class="card-body border-top-0">
									<div class="d-sm-flex flex-sm-wrap mb-3">
										<div class="fw-semibold">Full name:</div>
										<div class="ms-sm-auto mt-1 mt-sm-0">Victoria Anna Davidson</div>
									</div>

									<div class="d-sm-flex flex-sm-wrap mb-3">
										<div class="fw-semibold">Phone number:</div>
										<div class="ms-sm-auto mt-1 mt-sm-0">+3630 8911837</div>
									</div>

									<div class="d-sm-flex flex-sm-wrap mb-3">
										<div class="fw-semibold">Corporate Email:</div>
										<div class="ms-sm-auto mt-1 mt-sm-0"><a href="#">corporate@domain.com</a></div>
									</div>

									<div class="d-sm-flex flex-sm-wrap">
										<div class="fw-semibold">Personal Email:</div>
										<div class="ms-sm-auto mt-1 mt-sm-0"><a href="#">personal@domain.com</a></div>
									</div>
								</div>
							</div>

