<div class="card">
								<div class="card-header d-flex align-items-center">
									<h6 class="mb-0">צילום תעודת זהות</h6>

									<div class="ms-auto">
										<a href="#" class="text-body">
											<i class="ph-gear"></i>
										</a>
				                	</div>
								</div>

								<div class="card-body">
									<input type="file" class="form-control">
									<div class="form-text">Accepted formats: gif, png, jpg</div>
								</div>
							</div>