
<div class="card card-body">
	<div class="row text-center">
		<div class="col-3">
			<p><i class="ph-users-three bg-info bg-opacity-10 text-info lh-1 rounded-pill p-2"></i></p>
			<h5 class="mb-0">2,345</h5>
			<span class="text-muted fs-sm">רווח שנתי</span>
		</div>

		<div class="col-3">
			<p><i class="ph-thumbs-up bg-warning bg-opacity-10 text-warning lh-1 rounded-pill p-2"></i></p>
			<h5 class="mb-0">3,568</h5>
			<span class="text-muted fs-sm">דמי ניהול</span>
		</div>

		<div class="col-3">
			<p><i class="ph-coins bg-success bg-opacity-10 text-success lh-1 rounded-pill p-2"></i></p>
			<h5 class="mb-0">$9,693</h5>
			<span class="text-muted fs-sm">דמי הצלחה</span>
		</div>
		<div class="col-3">
			<p><i class="ph-coins bg-success bg-opacity-10 text-success lh-1 rounded-pill p-2"></i></p>
			<h5 class="mb-0">$9,693</h5>
			<span class="text-muted fs-sm">דמי הצלחה</span>
		</div>
	</div>
</div>