<div class="card">
						<div class="card-header">
							<h5 class="mb-0">פרטים אישיים</h5>
						</div>


						<div class="card-body border-top">
							<form action="#">
								<div class="row mb-3">
									<label class="col-lg-3 col-form-label">שם מלא:</label>
									<div class="col-lg-9">
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>
								</div>


								<div class="row mb-3">
									<label class="col-lg-3 col-form-label">אזרחות:</label>
									<div class="col-lg-9">
										<select class="form-control form-control-select2 select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
											<optgroup label="Alaskan/Hawaiian Time Zone">
												<option value="AK" data-select2-id="3">Alaska</option>
												<option value="HI">Hawaii</option>
											</optgroup>
											<optgroup label="Pacific Time Zone">
												<option value="CA">California</option>
												<option value="NV">Nevada</option>
												<option value="WA">Washington</option>
											</optgroup>
											<optgroup label="Mountain Time Zone">
												<option value="AZ">Arizona</option>
												<option value="CO">Colorado</option>
												<option value="WY">Wyoming</option>
											</optgroup>
											<optgroup label="Central Time Zone">
												<option value="AL">Alabama</option>
												<option value="AR">Arkansas</option>
												<option value="KY">Kentucky</option>
											</optgroup>
											<optgroup label="Eastern Time Zone">
												<option value="CT">Connecticut</option>
												<option value="DE">Delaware</option>
												<option value="FL">Florida</option>
											</optgroup>
										</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-fwe1-container"><span class="select2-selection__rendered" id="select2-fwe1-container" role="textbox" aria-readonly="true" title="Alaska">Alaska</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-lg-3 col-form-label">סכום השקעה:</label>
									<div class="col-lg-9">
																				<input type="text" class="form-control" placeholder="500,000 שח">
									</div>
								</div>

								<div class="row mb-3">
									<label class="col-lg-3 col-form-label">מין:</label>
									<div class="col-lg-9">
										<div class="form-check-horizontal">
											<label class="form-check form-check-inline">
												<input type="radio" class="form-check-input" name="gender" checked="">
												<span class="form-check-label">גבר</span>
											</label>

											<label class="form-check form-check-inline">
												<input type="radio" class="form-check-input" name="gender">
												<span class="form-check-label">אשה</span>
											</label>
										</div>
									</div>
								</div>

								<div class="row mb-3">
									<label class="col-lg-3 col-form-label">צילום תעודה מזהה:</label>
									<div class="col-lg-9">
										<input type="file" class="form-control">
										<div class="form-text text-muted">בפורמטים הבאים: gif, png, jpg. 
                                            גודל קובץ מקסימלי
                                              2Mb</div>
									</div>
								</div>

								


								<div class="text-end">
									<button type="submit" class="btn btn-primary">שמור <i class="ph-paper-plane-tilt ms-2"></i></button>
								</div>
							</form>
						</div>
					</div>