<div class="card">
						<div class="card-header">
							<h5 class="mb-0">פרטים אישיים</h5>
						</div>


						<div class="card-body border-top">
							<form action="#">
								<div class="row mb-3">
									<label class="col-lg-3 col-form-label">שם מלא:</label>
									<div class="col-lg-9">
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>
								</div>


								<div class="row mb-3">
									<label class="col-lg-3 col-form-label">אזרחות:</label>
									<div class="col-lg-9">
										<select class="form-control form-control-select2 select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
											<optgroup label="Alaskan/Hawaiian Time Zone">
												<option value="AK" data-select2-id="3">Alaska</option>
												<option value="HI">Hawaii</option>
											</optgroup>
											<optgroup label="Pacific Time Zone">
												<option value="CA">California</option>
												<option value="NV">Nevada</option>
												<option value="WA">Washington</option>
											</optgroup>
											<optgroup label="Mountain Time Zone">
												<option value="AZ">Arizona</option>
												<option value="CO">Colorado</option>
												<option value="WY">Wyoming</option>
											</optgroup>
											<optgroup label="Central Time Zone">
												<option value="AL">Alabama</option>
												<option value="AR">Arkansas</option>
												<option value="KY">Kentucky</option>
											</optgroup>
											<optgroup label="Eastern Time Zone">
												<option value="CT">Connecticut</option>
												<option value="DE">Delaware</option>
												<option value="FL">Florida</option>
											</optgroup>
										</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-fwe1-container"><span class="select2-selection__rendered" id="select2-fwe1-container" role="textbox" aria-readonly="true" title="Alaska">Alaska</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
									</div>
								</div>

								<div class="row mb-3">
									<label class="col-lg-3 col-form-label">מין:</label>
									<div class="col-lg-9">
										<div class="form-check-horizontal">
											<label class="form-check form-check-inline">
												<input type="radio" class="form-check-input" name="gender" checked="">
												<span class="form-check-label">גבר</span>
											</label>

											<label class="form-check form-check-inline">
												<input type="radio" class="form-check-input" name="gender">
												<span class="form-check-label">אשה</span>
											</label>
										</div>
									</div>
								</div>

								<div class="row mb-3">
									<label class="col-lg-3 col-form-label">צילום תעודה מזהה:</label>
									<div class="col-lg-9">
										<input type="file" class="form-control">
										<div class="form-text text-muted">Accepted formats: gif, png, jpg. Max file size 2Mb</div>
									</div>
								</div>

								<div class="row mb-3">
									<label class="col-lg-3 col-form-label">Tags:</label>
									<div class="col-lg-9">
										<select multiple="" data-placeholder="Enter tags" class="form-control form-control-select2-icons select2-hidden-accessible" data-select2-id="19" tabindex="-1" aria-hidden="true">
											<option value="slack" data-icon="slack-logo" selected="" data-select2-id="21">Slack</option>
											<option value="instagram" data-icon="instagram-logo" selected="" data-select2-id="22">Instagram</option>
											<option value="telegram" data-icon="telegram-logo">Telegram</option>
											<option value="whatsapp" data-icon="whatsapp-logo">Whatsapp</option>
											<option value="twitter" data-icon="twitter-logo">Twitter</option>
										</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="20" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="false"><ul class="select2-selection__rendered"><li class="select2-selection__choice" title="Slack" data-select2-id="23"><span class="select2-selection__choice__remove" role="presentation">×</span><i class="ph-slack-logo"></i>Slack</li><li class="select2-selection__choice" title="Instagram" data-select2-id="24"><span class="select2-selection__choice__remove" role="presentation">×</span><i class="ph-instagram-logo"></i>Instagram</li><li class="select2-search select2-search--inline"><input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" role="searchbox" aria-autocomplete="list" placeholder="" style="width: 0.75em;"></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
									</div>
								</div>


								<div class="text-end">
									<button type="submit" class="btn btn-primary">שמור <i class="ph-paper-plane-tilt ms-2"></i></button>
								</div>
							</form>
						</div>
					</div>